.head{
    margin-top: 20px;
    margin-left: 200px;
}


.bglight{
    background-color: rgb(194, 193, 193);
    position:sticky !important;
    top: 0 ;
    /* margin-left: 200px; */
}
.navLink{
    color: purple !important;
}
.sideLink{
    color: whitesmoke !important;
    text-decoration: none;
}

